<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="opc.config" type="WOLEI.WanXiang.Model.ConfigSectionHandler.OPCTagSection, Syncer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />

    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--DbPush的数据连接插件所用到的数据库连接字符串配置，当前仅在mysql测试通过-->
    <add name="Syncer.EventAction.DbPush.ConnectionString" connectionString="server=192.168.2.1;user id=product;persistsecurityinfo=True;password=123456;database=opcasync;treattinyasboolean=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>

      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider></providers>
  </entityFramework>
  <!--以下是配置OPC服务器的地址和项目名-->
  <opc.config serverAddress="localhost" programName="Kepware.KEPServerEx.V4">
    <!--以下是配置项目里面所需要的OPC TAF,其中updateRate是轮询刷新值的时间-->
    <Tags>
      <add path="PLC.op130_4.cancelstatus" updateRate="600"></add>
      <add path="PLC.op130_4.product_result_ready" updateRate="600"></add>
      <add path="PLC.op130_4.product_status_result" updateRate="600"></add>
      <add path="PLC.op130_4.result" updateRate="600"></add>
      <add path="PLC.op130_4.value1" updateRate="600"></add>
      <add path="PLC.op130_4.value2" updateRate="600"></add>
      
      <add path="PLC.op130_5.cancelstatus" updateRate="600"></add>
      <add path="PLC.op130_5.product_result_ready" updateRate="600"></add>
      <add path="PLC.op130_5.product_status_result" updateRate="600"></add>
      <add path="PLC.op130_5.result" updateRate="600"></add>
      <add path="PLC.op130_5.value1" updateRate="600"></add>
      <add path="PLC.op130_5.value2" updateRate="600"></add>
     
    </Tags>
    <DataChangedHandlers>
      <!--OPC的连接状态或是值改变的通知插件，type是类的类型，arguments是参数，详细见OPCEventPush项目接口-->
      <add filename="webapiPush.dll" type="Syncer.EventAction.WebApiPush" arguments="http://localhost:8663/OPC/" />
      <add filename="DbPush.dll" type="Syncer.EventAction.DbPush" arguments="Syncer.EventAction.DbPush.ConnectionString" />
    </DataChangedHandlers>
  </opc.config>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
