<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="opc.config" type="WOLEI.WanXiang.Model.ConfigSectionHandler.OPCTagSection, Syncer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />


    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--DbPush的数据连接插件所用到的数据库连接字符串配置，当前仅在mysql测试通过-->
    <add name="Syncer.EventAction.DbPush.ConnectionString" connectionString="server=192.168.1.216;user id=product;persistsecurityinfo=True;password=123456;database=opcasyncrz;treattinyasboolean=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>

      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />

      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
    </providers>
  </entityFramework>
  <!--以下是配置OPC服务器的地址和项目名-->
  <opc.config serverAddress="localhost" programName="Kepware.KEPServerEnterprise.V5">
    <!--以下是配置项目里面所需要的OPC TAF,其中updateRate是轮询刷新值的时间-->
    <Tags>
      <add path="PLC.op3.plcworkstatus" updateRate="600"></add>
      <add path="PLC.op3.product_status_result" updateRate="600"></add>
      <add path="PLC.op3.product_type" updateRate="600"></add>
      <add path="PLC.op3.result" updateRate="600"></add>
      <add path="PLC.op3.value1" updateRate="600"></add>
      <add path="PLC.op3.value2" updateRate="600"></add>
      <add path="PLC.op3.value3" updateRate="600"></add>
      <add path="PLC.op3.value4" updateRate="600"></add>
      <add path="PLC.op3.value5" updateRate="600"></add>
      <add path="PLC.op3.value6" updateRate="600"></add>
    </Tags>
    <DataChangedHandlers>
      <!--OPC的连接状态或是值改变的通知插件，type是类的类型，arguments是参数，详细见OPCEventPush项目接口-->
      <!-- <add filename="webapiPush.dll" type="Syncer.EventAction.WebApiPush" arguments="http://localhost:8663/OPC/" />-->
      <add filename="DbPush.dll" type="Syncer.EventAction.DbPush" arguments="Syncer.EventAction.DbPush.ConnectionString" />
    </DataChangedHandlers>
  </opc.config>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>


  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>
